In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns

In [2]:
print(os.getcwd())

C:\Users\olubl\OneDrive\College\Data+\DPS-Planning

In [8]:
stu_proj = gpd.read_file(r'C:\Users\olubl\OneDrive\College\Data+\DPS-Planning\resdev_with_stu_proj.geojson')
stu_proj = stu_proj.to_crs(epsg=4326)
stu_proj = stu_proj[['A_DESCRIPT','match_results','region','student_gen','geometry']]
stu_proj.head()

,A_DESCRIPT,match_results,region,student_gen,geometry
0,"50 Single - family lots, 1 stormwater pond, ad...","[(50, None, 'single family', 'lots')]",North,13.4350,POINT (-78.946 36.075)
1,Mixe of uses including retail and residential....,[ ],Central,0.0000,POINT (-78.904 36)
2,Multifamily Apartments,[ ],Central,0.0000,POINT (-78.93 36.01)
3,"37 Townhome units, 102 Attached S-F units (cal...","[(37, None, 'townhouse', 'units'), (102, 'atta...",East,41.5747,POINT (-78.862 35.952)
4,"From Rural Density Residential (RDR, 0.5DU/acr...",[ ],East,0.0000,POINT (-78.777 35.989)

In [35]:
stu_proj['geometry']=stu_proj.geometry.buffer(0.01)
stu_proj=stu_proj.drop(columns=['buffer'])
stu_proj.head()

C:\Users\olubl\AppData\Local\Temp\ipykernel_2180\4127153436.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  stu_proj['geometry']=stu_proj.geometry.buffer(0.01)

,A_DESCRIPT,match_results,region,student_gen,geometry
0,"50 Single - family lots, 1 stormwater pond, ad...","[(50, None, 'single family', 'lots')]",North,13.4350,"POLYGON ((-78.876 36.078, -78.876 36.078, -78...."
1,Mixe of uses including retail and residential....,[ ],Central,0.0000,"POLYGON ((-78.834 36.003, -78.834 36.003, -78...."
2,Multifamily Apartments,[ ],Central,0.0000,"POLYGON ((-78.86 36.013, -78.86 36.013, -78.86..."
3,"37 Townhome units, 102 Attached S-F units (cal...","[(37, None, 'townhouse', 'units'), (102, 'atta...",East,41.5747,"POLYGON ((-78.792 35.955, -78.792 35.955, -78...."
4,"From Rural Density Residential (RDR, 0.5DU/acr...",[ ],East,0.0000,"POLYGON ((-78.707 35.992, -78.707 35.992, -78...."

In [ ]:
overlay_buffers=stu_proj.overlay(stu_proj,how='intersection')
overlay_buffers.plot()

In [ ]:
vmin=stu_proj['student_gen'].min()
vmax=stu_proj['student_gen'].max()

stu_proj.plot(
    cmap='coolwarm',
)

plt.title('Students Generated Buffer')
plt.show()