In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [28]:
# read data from Data+_2025/data/enrollment_projections/sgr_table_region_2324_20240710.xlsx in Google Drive
sgr_data = pd.read_excel('/Users/leahwallihan/Durham_school_planning/sgr_htype_region.xlsx')

In [20]:
# remove null values and shorten to only use relevant columns
sgr_data = sgr_data.dropna()
sgr_data.rename(columns={'sgr_dps_2324_all.1': 'sgr_dps_avg_k12'}) # because there might be a typo in the file?
sgr_data = sgr_data[['housing_type','region','sgr_dps_avg_k12']]
sgr_data['sgr_dps_avg_k12'] = sgr_data['sgr_dps_avg_k12'].round(4)

In [38]:
# read in shapefile to get geometries for HS regions from Data+_2025/QGIS/DPS shapefiles from layers
regions = gpd.read_file(r'/Users/leahwallihan/Durham_school_planning/geospatial files/HS_regions')[['region', 'geometry']]

Index(['OBJECTID', 'fid_1', 'region', 'mont', 'ib', 'yr1', 'yr2', 'dli',
       'online_es', 'mont_id', 'ib_id', 'yr_id', 'yr2_id', 'dli_id',
       'online_es_', 'yr_ms', 'mont_ms1', 'mont_ms2', 'ib_ms', 'dli_ms',
       'arts_ms', 'online_ms', 'yr_ms_id', 'mont_ms1_i', 'mont_ms2_i',
       'ib_ms_id', 'dli_ms_id', 'arts_ms_id', 'online_ms_', 'stem_hs', 'ib_hs',
       'arts_hs', 'ec1_hs', 'ec2_hs', 'ec3_hs', 'ec4_hs', 'online_hs',
       'stem_hs_id', 'ib_hs_id', 'arts_hs_id', 'ec1_hs_id', 'ec2_hs_id',
       'ec3_hs_id', 'ec4_hs_id', 'online_hs_', 'Shape_Leng', 'Shape_Area',
       'geometry'],
      dtype='object')

In [40]:
regions.head()

      region                                           geometry
0    Central  POLYGON ((2033813.235 831343.793, 2034345.112 ...
1       East  POLYGON ((2076824.784 827577.02, 2076829.527 8...
2      North  POLYGON ((2057650.162 851182.236, 2057445.451 ...
3  Southeast  POLYGON ((2039564.628 806881.697, 2039758.538 ...
4  Southwest  POLYGON ((2010158.969 831111.207, 2010977.529 ...