In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd
import json

In [6]:
with open('/Users/leahwallihan/Durham_school_planning/DPS-Planning/CFLP/CFLP_sols/CFLP_hs_noSGR.json', 'r') as f:
    solution_reports = json.load(f)

In [30]:
hs_dict = {45: 'Northern', 
          507: 'Jordan', 
          290: 'Hillside',
          566: 'Riverside',
          602: 'Southern', 
          317: 'New High School'}

In [40]:
sol2 = solution_reports[0]['student_count']

In [42]:
renamed = {hs_dict[int(k)]: v for k, v in sol2.items()}

In [44]:
df = pd.DataFrame.from_dict(renamed, orient='index', columns=['Students'])
df.index.name = 'High School'
df = df.reset_index()

In [46]:
df

       High School  Students
0         Northern    1122.0
1         Hillside    1159.0
2  New High School    1348.0
3           Jordan    1271.0
4        Riverside    1108.0
5         Southern    1125.0