In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [17]:
sgr_data = pd.read_csv(r'C:/Users/olubl/OneDrive/College/Data+/DPS-Planning/sgrk-12.csv')
sgr_data = sgr_data.drop(6)
sgr_data = sgr_data[['housing_type','parcel_ct','dps_avg_k12','sgr_dps_avg_k12']]
sgr_data

   housing_type  parcel_ct  dps_avg_k12  sgr_dps_avg_k12
0  age_restrict         60        11.50         0.004394
1         condo        231       273.75         0.086031
2        du_tri       2206      1084.00         0.232718
3           hud        140       785.25         0.619282
4         manuf        787       519.50         0.447845
5        mf_apt        843      8446.25         0.187565
7     sf_attach      16056      1157.25         0.071892
8     sf_detach      78776     18890.75         0.239645
9          temp        259       125.25         0.107326

In [19]:
sgr_data['sgr_dps_avg_k12'] = sgr_data['sgr_dps_avg_k12'].round(4)
sgr_data

   housing_type  parcel_ct  dps_avg_k12  sgr_dps_avg_k12
0  age_restrict         60        11.50           0.0044
1         condo        231       273.75           0.0860
2        du_tri       2206      1084.00           0.2327
3           hud        140       785.25           0.6193
4         manuf        787       519.50           0.4478
5        mf_apt        843      8446.25           0.1876
7     sf_attach      16056      1157.25           0.0719
8     sf_detach      78776     18890.75           0.2396
9          temp        259       125.25           0.1073